project_id        = "videorank-mlops-dev-123"
region            = "europe-west1"
bigquery_location = "EU"
budget_amount_usd = 75
github_owner      = "werpo78"
app_repo_name     = "videorank-mlops-app"
config_repo_name  = "videorank-mlops-config"
enable_gke_lab    = false
